<!--Brands section-->
<div class="brands-section">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image: url(/images/logo-brother.png);"></div>
       <div class="swiper-slide" style="background-image: url(/images/logo-canon.png);"></div>
       <div class="swiper-slide" style="background-image: url(/images/logo-ricoh1.png);"></div>
       <div class="swiper-slide" style="background-image: url(/images/logo-xerox.png);"></div>
       <div class="swiper-slide" style="background-image: url(/images/logo-equitrac.png);"></div>
      <div class="swiper-slide" style="background-image: url(/images/logo-papercut.png);"></div>
    </div>
  </div>
</div>













