<!--NAVBAR-->
<header>
  <nav class="navbar-nav navbar navbar-expand-lg" id="navbar">
    <div class="container">
      <a class="navbar-brand" href="/">
        <div class="logo">PRINT HOUSE</div>
      </a>
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/about">About</a>
          </li>

          <!--Drop down menu for solutions-->
          <li class="nav-link">
            <div class="btn-group">
              <a href="/solutions" class="btn-link">Solutions</a>
              <a href="#" class="btn-link dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
                aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/managedPrint">Managed Print</a></li>
                <li><a class="dropdown-item" href="/onsiteRepairs">Onsite Repairs</a></li>
                <li><a class="dropdown-item" href="/psa">Print Service Agreement</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/products">Products</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/finance">Finance</a>
          </li>

          <li class="nav-link">
            <a href ="/contact" class="call-us">
              <i class='fa fa-phone'></i> Call Us
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="line"></div>
  </nav>
  </header>

  <!--Scroll-to-top-btn-->
  <div id="progress">
    <span id="progress-value">
      &#x1F815;
    </span>
  </div>