<!DOCTYPE html>
<html lang="en">
<head>
   <title>Print House UK | Contact</title>
   <%- include('../partials/header'); %>
   <link href="/css/contact.css" type="text/css" rel="stylesheet">


</head>
<body>
  <!--NAVBAR-->
  <%- include('../partials/navbar'); %>

  <!--HERO IMAGE AND TEXT-->
  <div class="hero-image d-flex justify-content-center align-items-center">
    <img src="/images/Contact-hero-img.png" loading="lazy" class="img">
    <div class="hero-text-container">
    <h1 class="hero-text text-responsive"><span>Hello,</span> <br> Print House?</h1>
    <p class="hero-text">You’ve got some Q’s and we’ve got tons and tons of A’s. Ask us about an order, a product, a service or anything we can help with! Don’t be shy - <span>we promise we’re really nice. </span></p>
    <div class="learn-more-btn">
      <a href="#contact-form" class="learn-more">
        <span>Let's connect </span>
      </a> 
     </div> 
    </div>
  </div>

 <div class="contact-form" id="contact-form">
  <h1>CONTACT</h1>
  <p>GET IN TOUCH</p>
  <div class="contact-box">
    <div class="contact-fill-up-form">
      <form action="/contact" class="form">
        <div class="form-group mb-3">
         <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Name" tabindex="1" required 
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
          maxlength = "35" >
       </div>
       <div class="form-group mb-3">
         <input type="email" class="form-control" id="email" placeholder="Email" tabindex="2" required 
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
          maxlength = "40" > 
       </div>
       <div class="form-group mb-3">
         <input type="tel"  class="form-control" id="mobile" placeholder="Mobile" tabindex="3" required min="10"
         oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
          maxlength = "14" >
        </div>
     
        <div class="form-group mb-3">
         <textarea class="form-control" id="message" name="message"  rows="4" cols="50" placeholder="Message" autocapitalize="on" autocorrect="on" ></textarea>
          </div>
        <div class="learn-more-btn btn-submit">
         <input type="submit" class="learn-more btn-submit-btn" value="Submit" id="send"> 
        </div> 
       </form>
    </div>

    <div class="contact-details">
      <div class="text-box">
        <div class="address">We are here!</div>
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2374.894156959443!2d-2.24148858434612!3d53.47035167311694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487bb1eca118180b%3A0x739a45aa865ef5a1!2sManchester%20Metropolitan%20University!5e0!3m2!1sen!2skw!4v1662845678916!5m2!1sen!2skw" width="95%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="opening-hours">
          <h4>Working Hours</h4>
          <div class="timing">Mon - Fri: 9am to 5pm <br>
             Sat - Sun: closed
          </div>
          <div class="email">printhouseuk@gmail.co.uk</div>
        </div>
      </div>
    </div>
  </div>
 </div>
 

  <!--BRAND CAROUSEL-->
  <%- include('../partials/brand-carousel'); %>

  <!--FOOTER-->
  <%- include('../partials/footer'); %>

  <script>
 /***brand swiper js**/ 
  var swiperOptions = {
  loop: true,
  freeMode: true,
  spaceBetween: 40,
  grabCursor: true,
  slidesPerView: 7,
  loop: true,
  autoplay: {
    delay: 1,
    disableOnInteraction: true
  },
  freeMode: true,
  speed: 5000,
  freeModeMomentum: false
};
var swiper = new Swiper(".swiper-container", swiperOptions);

/******Scroll top button*****/
let calcScrollValue = () => {
  let scrollProgress = document.getElementById("progress");
  let progressValue = document.getElementById("progress-value");
  let pos = document.documentElement.scrollTop;
  let calcHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
  let scrollValue = Math.round((pos * 100 / calcHeight));

 if(pos > 100){
  scrollProgress.style.display = "grid";
 } else {
  scrollProgress.style.display = "none";
 }

 scrollProgress.addEventListener("click", () => {
  document.documentElement.scrollTop = 0;
 });
 scrollProgress.style.background = `conic-gradient(#6479fe ${scrollValue}%, white ${scrollValue}%)`;
};

window.onscroll = calcScrollValue;
window.onload = calcScrollValue;
   

/**CONTACT FORM JS**/
let contactForm = document.querySelector(".form");
let name = document.getElementById("name");
let email = document.getElementById("email");
let mobile = document.getElementById("mobile");
let message = document.getElementById("message");
let send = document.getElementById("send");


//MAKING THE TEXT AREA FIRST LETTER UPPERCASE
  document.querySelector('textarea').addEventListener('input', () => {
  text = document.querySelector('textarea').value;
  document.querySelector('textarea').value = text.charAt(0).toUpperCase() + text.slice(1);
})


//onclick submit
contactForm.addEventListener("submit", (e) => {
    e.preventDefault();
    let formData = {
        name: name.value,
        email: email.value,
        mobile: mobile.value,
        message: message.value
    }
    send.value = "Sending Message..."

    
let xhr = new XMLHttpRequest();
    xhr.open("POST", "/contact");
    xhr.setRequestHeader("content-type", "application/json");
    xhr.onload = () => {
        console.log(xhr.responseText);
        if(xhr.responseText == "success") {
            name.value = "";
            email.value = "";
            mobile.value = "";
            message.value = "";
            send.value = "Message Sent Successfully!";
        } else {
            send.value = "Something Went Wrong!"
        }
    }
    xhr.send(JSON.stringify(formData));
});

</script>
</body>
</html>