<!DOCTYPE html>
<html lang="en">
<head>
   <title>Print House UK | Products</title>
   <%- include('../partials/header'); %>
   <link href="/css/finance.css" type="text/css" rel="stylesheet">
</head>
<body>
  <!--NAVBAR-->
  <%- include('../partials/navbar'); %>

  <!--HERO IMAGE AND TEXT-->
  <div class="hero-image d-flex justify-content-center align-items-center">
    <img src="/images/Finance-hero-img.png" loading="lazy" class="img">
    <div class="hero-text-container">
    <h1 class="hero-text text-responsive">FINANCE</h1>
    <p class="hero-text">We’ll tailor a financing plan around you and your precise needs so that your business can continue going from strength to strength and achieving the aims you’ve set.</p>
    <div class="learn-more-btn">
      <a href="#products" class="learn-more">
        <span>Learn more </span>
      </a> 
     </div> 
    </div>
  </div>


  <div class="meet-brand-container" id="products">
    <div class="meet-brand-text">
      <h1>FINANCING YOUR PRINT <br>
        HARDWARE IS<span> MADE EASY</span></h1>
      <p>So, it’s time to purchase a new printer. At Print House, we’ve a number of flexible financing solutions that helps your business grow and therefore you’re not exposing your business to unnecessary risk or credit. <br> <br>

        The technology we supply is value-focused – we do not believe you’ll find cheaper elsewhere. However, at the time of purchase you might not want to pay outright for the machine, so that’s where we step in – we love to make life easier for you! <br> <br>
        
        We’ll tailor a financing plan around you and your precise needs so that your business can continue going from strength to strength and achieving the aims you’ve set. Naturally, there are a few terms and conditions, but we can discuss these with you so you’re clear about what’s payable and when. Everything is shaped around you.</p>
    </div>
    <div class="meet-brand-img" loading="lazy">
    </div>
  </div>

  <!--FINANCE PLANS CONTAINER-->
  <div class="finance-plans-container">
    <div class="textbox-container">
      <div class="outright-payment box">
        <div class="img" style="background-image: url(/images/icons8-card-payment-96\ \(1\).png); height: 75px;"></div>
        <h4>Outright Payment</h4>
        <p>You like the price you’ve seen with Print House UK and you want to proceed – that’s great news. We are able to take secure payments at our facility on 20 Service Road, Potters Bar EN6 1QA or you can bank transfer to us (we’ll provide the details). <br> <br>
          Once the payment is with us, we’ll arrange delivery, installation and training. Easy, peasy.</p>
      </div>

      <div class="lease-plan box">
        <div class="img" style="background-image: url(/images/icons8-lease-96.png);"></div>
        <h4>Lease Plans</h4>
        <p>Cashflow is a consideration for every business. So, if you’d like to pay a fixed amount to rent the machine without a hefty sum up front, we can provide this facility through our financing partners. <br> <br>

          With a rental agreement, after a fixed period, you may not own the machine, but that allows you to upgrade at the end of the contract,  What’s good for you, is good for us.</p>
      </div>
    </div>

    <div class="textbox-container">
      <div class="payment-plan box">
        <div class="img" style="background-image: url(/images/icons8-plan-96.png); width: 50px;"></div>
        <h4>Payment Plans</h4>
        <p>Alternatively, we can provide the exact machine(s) with the specification you require on a tailored payment plan that meets your budget and costs associated with the hardware & technology you are seeking to secure. This way you can spread the costs and repayment requirements ensuring you can operate, grow and prosper whilst paying amounts that are agreeable with you. <br> <br>
          We’re here to make life as easy as possible and therefore will balance the proposed repayments that meet your satisfaction. You can invest more as a deposit, reducing the monthly payments or vice versa – let’s talk through the options.</p>
      </div>

      <div class="print-plan box">
        <div class="img" style="background-image: url(/images/icons8-print-96.png);width: 55px;" ></div>
        <h4>Print Plans</h4>
        <p>
          No two customers have the same requirements; therefore, each payment plan is designed around each and every customer. This is one of the areas that elevates us above the competition. With print plans, we can undertake a thorough analysis of your print requirements, speculate on what you’ll use in the short, medium, and long-term and then propose a print plan is delivered to meet your needs.<br> <br>
          We appreciate there are many options which our customers can benefit from.  By speaking to our experienced team, you can make a balanced decision therefore securing the hardware and expertise you need at a cost that makes perfect sense.</p>
      </div>
    </div>
</div>

  <!--BRAND CAROUSEL-->
  <%- include('../partials/brand-carousel'); %>

  <!--FOOTER-->
  <%- include('../partials/footer'); %>



  <script>
 /***brand swiper js**/ 
  var swiperOptions = {
  loop: true,
  freeMode: true,
  spaceBetween: 40,
  grabCursor: true,
  slidesPerView: 7,
  loop: true,
  autoplay: {
    delay: 1,
    disableOnInteraction: true
  },
  freeMode: true,
  speed: 5000,
  freeModeMomentum: false
};
var swiper = new Swiper(".swiper-container", swiperOptions);

/******Scroll top button*****/
let calcScrollValue = () => {
  let scrollProgress = document.getElementById("progress");
  let progressValue = document.getElementById("progress-value");
  let pos = document.documentElement.scrollTop;
  let calcHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
  let scrollValue = Math.round((pos * 100 / calcHeight));

 if(pos > 100){
  scrollProgress.style.display = "grid";
 } else {
  scrollProgress.style.display = "none";
 }

 scrollProgress.addEventListener("click", () => {
  document.documentElement.scrollTop = 0;
 });
 scrollProgress.style.background = `conic-gradient(#6479fe ${scrollValue}%, white ${scrollValue}%)`;
};

window.onscroll = calcScrollValue;
window.onload = calcScrollValue;
   
  </script>
</body>
</html>