<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('../partials/header'); %>
 <link href="/css/solutions.css" rel="stylesheet" type="text/css">
 <title>Print House UK | Onsite Repairs</title>
</head>
<body>
  <!--NAVBAR-->
  <%- include('../partials/navbar'); %>
  
  <!--HERO IMAGE AND TEXT-->
  <div class="hero-image d-flex justify-content-center align-items-center">
    <img src="/images/OnsiteRepairsBG.png" class="img" id="change-hero-img">
    <div class="hero-text-container">
      <p class="hero-subheading text-responsive">Our Solutions</p>
    <h1 class="hero-heading text-responsive">Onsite Repairs</h1>
  </div>
  </div>

  <div class="solution-tab-container">
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li class="nav-item">
        <a class="nav-link changeable-heroIMG" data-url="/images/managedPrintBG.png" data-bs-toggle="tab" href="#home">Managed Print</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active changeable-heroIMG" data-url="/images/OnsiteRepairsBG.png" data-bs-toggle="tab" href="#menu1">Onsite Repairs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link changeable-heroIMG" data-url="/images/PSA-BG.png" data-bs-toggle="tab" href="#menu2">Print Service Agreement</a>
      </li>
    </ul>

    <!-- Tab panes -->
  <div class="tab-content">
    <div id="home" class="tab-pane active">
      <div class="white-container">
        <h1> <span>Our print and digitisation </span> solutions will cover <br> all your requirements.</h1>
        <p>A strong print management solution can be invaluable to a business’ success. According to Entrepreneur, printed documents, in addition to other physical marketing items, should be included with social media and other digital strategies. At LOGO we offer a comprehensive service that means we continuously monitor your quality and costs. Document security is guaranteed and security breaches are a thing of the past. <br> <br>
          Brand impartiality and neutrality will really play to your advantage. Our end-to-end service enables many customers to prioritise other things, knowing that print costs are being kept to an absolute minimum.</p>
        <div class="challenge-solution-boxes">
          <div class="challenge-box-grey">
            <h1>Your challenges</h1>
            <p>Business leaders are often seeking solutions for their IT, marketing and communication issues. These challenges may include excessive high-volume printing costs, an incomplete advertising strategy and in-house printer problems, <br> 
              However it can be difficult to know where to start, and where to invest for maximum benefit. <br> <br>
              Ultimately, you’ll be looking for the choice of a range of solutions and forms of delivery to fit your needs, so you need to work with the right partner to deliver that.</p>
          </div>
          <div class="solution-box-blue">
            <h1>Your challenges</h1>
            <p>Business leaders are often seeking solutions for their IT, marketing and communication issues. These challenges may include excessive high-volume printing costs, an incomplete advertising strategy and in-house printer problems, <br> 
              However it can be difficult to know where to start, and where to invest for maximum benefit. <br> <br>
              Ultimately, you’ll be looking for the choice of a range of solutions and forms of delivery to fit your needs, so you need to work with the right partner to deliver that.</p>
          </div>
        </div> 
      </div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <div class="white-container">
        <h1> <span>Our print and digitisation </span> solutions will cover <br> all your requirements.</h1>
        <p>A strong print management solution can be invaluable to a business’ success. According to Entrepreneur, printed documents, in addition to other physical marketing items, should be included with social media and other digital strategies. At LOGO we offer a comprehensive service that means we continuously monitor your quality and costs. Document security is guaranteed and security breaches are a thing of the past. <br> <br>
          Brand impartiality and neutrality will really play to your advantage. Our end-to-end service enables many customers to prioritise other things, knowing that print costs are being kept to an absolute minimum.</p>
        <div class="challenge-solution-boxes">
          <div class="challenge-box-grey">
            <h1>Your challenges</h1>
            <p>Business leaders are often seeking solutions for their IT, marketing and communication issues. These challenges may include excessive high-volume printing costs, an incomplete advertising strategy and in-house printer problems, <br> 
              However it can be difficult to know where to start, and where to invest for maximum benefit. <br> <br>
              Ultimately, you’ll be looking for the choice of a range of solutions and forms of delivery to fit your needs, so you need to work with the right partner to deliver that.</p>
          </div>
          <div class="solution-box-blue">
            <h1>Your challenges</h1>
            <p>Business leaders are often seeking solutions for their IT, marketing and communication issues. These challenges may include excessive high-volume printing costs, an incomplete advertising strategy and in-house printer problems, <br> 
              However it can be difficult to know where to start, and where to invest for maximum benefit. <br> <br>
              Ultimately, you’ll be looking for the choice of a range of solutions and forms of delivery to fit your needs, so you need to work with the right partner to deliver that.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="menu2" class="tab-pane fade">
      <div class="white-container">
         <h1> <span>Our print and digitisation </span> solutions will cover <br> all your requirements.</h1>
        <p>A strong print management solution can be invaluable to a business’ success. According to Entrepreneur, printed documents, in addition to other physical marketing items, should be included with social media and other digital strategies. At LOGO we offer a comprehensive service that means we continuously monitor your quality and costs. Document security is guaranteed and security breaches are a thing of the past. <br> <br>
          Brand impartiality and neutrality will really play to your advantage. Our end-to-end service enables many customers to prioritise other things, knowing that print costs are being kept to an absolute minimum.</p>
        <div class="challenge-solution-boxes">
          <div class="challenge-box-grey">
            <h1>Your challenges</h1>
            <p>Business leaders are often seeking solutions for their IT, marketing and communication issues. These challenges may include excessive high-volume printing costs, an incomplete advertising strategy and in-house printer problems, <br> 
              However it can be difficult to know where to start, and where to invest for maximum benefit. <br> <br>
              Ultimately, you’ll be looking for the choice of a range of solutions and forms of delivery to fit your needs, so you need to work with the right partner to deliver that.</p>
          </div>
          <div class="solution-box-blue">
            <h1>Your challenges</h1>
            <p>Business leaders are often seeking solutions for their IT, marketing and communication issues. These challenges may include excessive high-volume printing costs, an incomplete advertising strategy and in-house printer problems, <br> 
              However it can be difficult to know where to start, and where to invest for maximum benefit. <br> <br>
              Ultimately, you’ll be looking for the choice of a range of solutions and forms of delivery to fit your needs, so you need to work with the right partner to deliver that.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 <%- include('../partials/brand-carousel') %>


  <!--FOOTER-->
  <%- include('../partials/footer'); %>
  

<!--solution js-->
 <script>
  
    /***brand swiper js**/ 
  var swiperOptions = {
  loop: true,
  freeMode: true,
  spaceBetween: 40,
  grabCursor: true,
  slidesPerView: 7,
  loop: true,
  autoplay: {
    delay: 1,
    disableOnInteraction: true
  },
  freeMode: true,
  speed: 5000,
  freeModeMomentum: false
};
var swiper = new Swiper(".swiper-container", swiperOptions);

/******Scroll top button*****/
let calcScrollValue = () => {
  let scrollProgress = document.getElementById("progress");
  let progressValue = document.getElementById("progress-value");
  let pos = document.documentElement.scrollTop;
  let calcHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
  let scrollValue = Math.round((pos * 100 / calcHeight));

 if(pos > 100){
  scrollProgress.style.display = "grid";
 } else {
  scrollProgress.style.display = "none";
 }

 scrollProgress.addEventListener("click", () => {
  document.documentElement.scrollTop = 0;
 });
 scrollProgress.style.background = `conic-gradient(#6479fe ${scrollValue}%, white ${scrollValue}%)`;
};

window.onscroll = calcScrollValue;
window.onload = calcScrollValue;

/*****CHANGE HERO IMAGE*****/
window.onload = function()
{
  var navItems = document.getElementsByClassName("changeable-heroIMG");
  var heroText = document.querySelector(".hero-heading");
  var imageChangeFunction = function() 
  {
    var attribute = this.getAttribute("data-url");
     var image = document.getElementById("change-hero-img");
    image.src = attribute;
    image.title = attribute;
    image.alt = attribute;
};

var changeHeaderFunction = function(e){
    console.log(e)
    heroText.innerHTML = e.target.innerHTML;
  }

  for (var i = 0; i < navItems.length; i++) {
    navItems[i].addEventListener('click', imageChangeFunction, false);
  }

  for (var i = 0; i < navItems.length; i++) {
    navItems[i].addEventListener('click', changeHeaderFunction, false);
  }
}


  </script>  
</body>
</html>