<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('../partials/header'); %>
 <link href="/css/solutions.css" rel="stylesheet" type="text/css">
</head>
<body>
  <!--NAVBAR-->
  <%- include('../partials/navbar'); %>

<div class="extra"></div>
  <!--FOOTER-->
  <%- include('../partials/footer'); %>
  
</body>
</html>